#div1{
    background-color: lightgray;
       height: 600px;
       width: 500px;
     margin-left: 25%;
     font-size: medium;
}
#div2{
    position: relative;
    left: 5px;
}
#span1{
    position: relative;
    text-align: center;

}
#b2{
    position: relative;
    left: 200px;
}

#p1{
    position: absolute;
}
#b1{
    position: relative;
    left: 350px;
    background-color: blue;
   
}
#i1{
    width: 400px;
}
#div3{
    background-color: white;
    border: 1px soli white;
    font-size: medium;
    position: relative;
    width: 300px;
    left: 100px;
    

}
::placeholder{
    font-size: medium;
}
#div4{
    background-color: white;
    position: relative;
    width: 400px;
    left: 40px;
}
#div5{
    position: relative;
    left: 10px;
   
    width: 350px;
}
#show{
    left: 20px;
    background-color: white;
    width: 450px;

}
#con{
    position: relative;
    left: 20px;
    width: 400px;
}